.container{
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    box-sizing: border-box;
}

ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

}


.col img{
    max-width: 100%;
    width: 250px;
    height: 350px;
    border-radius: 15px;
    object-fit: cover;
}

.col{
    width: 16%; 
}

@media screen and (max-width: 1280px){
   .col{width: 16%;
   }
}


@media screen and (max-width: 768px){
    .col{width: 33%;
        
    }
}

@media screen and (max-width: 340px){
    .col{width: 100%;
    }
    
}

.town img{
    width: 200px;
    height: 200px;
    border-radius: 20px;
    object-fit: cover;
}

.card .text{
    margin-left: 20px;
}

.main{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.cards{
    display: flex;
    flex-direction: column;
}

.card{
    display: flex;   
}

.aside{
    max-width: 100%;
    width: 250px;
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    border-radius: 20px;
}