
.box{
    text-align: right;
    border: 1px solid;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 500px;
}

.form-textarea{
    display: flex;
    text-align: right;
    padding-left: 131px;
}

.title input,textarea{
    width: 300px;
    
}

.title input{
    margin-bottom: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.title textarea{
    height: 75px;
}

.submit{
    text-align: center;
    margin-left: 18px;
    margin-top: 10px;
}