.container{
    width: 100%;
    max-width: 1400px;
}

body{
    background-color: #ff0000;
}

@media (max-width: 1400px){
    body{
        background-color: #eb3458;
    }
}

@media (max-width: 1200px){
    body{
        background-color: #eb3480;
    }
}

@media (max-width: 992px){
    body{
        background-color: #34dceb;
    }
}

@media (max-width: 768px){
    body{
        background-color: #bc7a56;
    }
}

@media (max-width: 576px){
    body{
        background-color: #00ff00;
    }
}


